{% extends "main/base.html" %}

{% block title %}Reklama{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Reklama na naszej platformie</h1>
    <p>Promuj swoje wydarzenia, produkty lub usługi na naszej platformie i dotrzyj do szerokiego grona odbiorców.</p>

    <h2>Formy reklamy</h2>
    <ul>
        <li>Banery na stronie głównej.</li>
        <li>Reklama w newsletterze.</li>
        <li>Dedykowane kampanie promocyjne.</li>
    </ul>

    <h2>Kontakt</h2>
    <p>Skontaktuj się z nami, aby poznać szczegóły i cennik: <a href="#">nazwa@poczta.pl</a></p>
</div>
{% endblock %}
