{% extends "main/base.html" %}

{% block title %}Rozwiązania dla firm{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Rozwiązania dla firm</h1>
    <p>Oferujemy kompleksowe rozwiązania dla firm, które chcą organizować wydarzenia lub kupować bilety dla swoich pracowników.</p>

    <h2>Nasze usługi</h2>
    <ul>
        <li>Zarządzanie biletami dla wydarzeń firmowych.</li>
        <li>Zakupy grupowe i rabaty.</li>
        <li>Wsparcie w promocji wydarzeń firmowych.</li>
    </ul>

    <h2>Kontakt</h2>
    <p>Zapytaj o ofertę dla firm: <a href="#">nazwa@poczta.pl</a></p>
</div>
{% endblock %}
