{% extends "main/base.html" %}

{% block title %}Organizatorzy{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Informacje dla organizatorów</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nasza platforma to doskonałe miejsce dla organizatorów, którzy chcą dotrzeć do szerokiej publiczności i zwiększyć sprzedaż swoich biletów.</p>

    <h2>Korzyści współpracy</h2>
    <ul>
        <li>Łatwe zarządzanie wydarzeniami i biletami.</li>
        <li>Rozbudowane statystyki sprzedaży.</li>
        <li>Wsparcie techniczne i marketingowe.</li>
    </ul>

    <h2>Jak rozpocząć?</h2>
    <p>Skontaktuj się z nami pod adresem <a href="#">nazwa@poczta.pl</a>, aby dowiedzieć się więcej o możliwościach współpracy.</p>
</div>
{% endblock %}
