{% extends "main/base.html" %}

{% block title %}Współpraca{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Współpraca</h1>
    <p>Jesteśmy otwarci na różnorodne formy współpracy, które przynoszą korzyści zarówno naszej platformie, jak i naszym partnerom.</p>

    <h2>Możliwości współpracy</h2>
    <ul>
        <li>Partnerstwo strategiczne.</li>
        <li>Wspólne kampanie marketingowe.</li>
        <li>Integracja technologiczna.</li>
    </ul>

    <h2>Skontaktuj się z nami</h2>
    <p>Wyślij wiadomość na adres <a href="#">nazwa@poczta.pl</a>, aby omówić szczegóły współpracy.</p>
</div>
{% endblock %}
