{% extends 'main/base.html' %}
{% block title %}Instrukcje wysłane{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Sprawdź swoją skrzynkę odbiorczą</h1>
    <p class="mb-4">
        Jeśli podany adres e-mail jest zarejestrowany w naszej bazie, otrzymasz wiadomość z instrukcjami dotyczącymi zresetowania hasła.
        Sprawdź swoją pocztę i postępuj zgodnie z instrukcjami.
    </p>
    <a href="{% url 'login' %}" class="btn btn-secondary">Powrót do logowania</a>
</div>
{% endblock %}
