<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <title>EventApp - Hasło zresetowane</title>
</head>
<body style="font-family: Arial, sans-serif; font-size:14px; color:#333;">
    <h1 style="font-size: 18px; color:#333;">Cześć {{ user.first_name }},</h1>
    <p>Twoje hasło do konta w <strong>NAZWA</strong> zostało pomyślnie zresetowane.</p>
    <p>Możesz teraz zalogować się, używając nowego hasła. Jeśli to nie Ty zmieniałeś/aś hasło, skontaktuj się z nami niezwłocznie.</p>
    <p>Pozdrawiamy,<br>Zespół ...</p>
</body>
</html>
