<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <title>Twoje bilety i faktura</title>
</head>
<body style="font-family: Arial, sans-serif; font-size:14px; color:#333;">
    <h1 style="font-size: 18px; color:#333;">Cześć {{ order.first_name }},</h1>
    <p>Dziękujemy za dokonanie płatności za zamówienie w <strong>NAZWA</strong>.</p>
    <p>W załącznikach znajdziesz swoje bilety oraz fakturę w formacie PDF.</p>
    <p>Do zobaczenia na wydarzeniu!</p>
    <p>Pozdrawiamy,<br>Zespół ...</p>
</body>
</html>
