<footer class="elo py-5 bg-body-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
            <h5>Centrum pomocy</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'add:about' %}" class="nav-link p-0 text-body-secondary">O nas</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:faq' %}" class="nav-link p-0 text-body-secondary">FAQ</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:terms' %}" class="nav-link p-0 text-body-secondary">Regulamin</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:payment_methods' %}" class="nav-link p-0 text-body-secondary">Metody płatności</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:privacy_policy' %}" class="nav-link p-0 text-body-secondary">Polityka prywatności</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:contact' %}" class="nav-link p-0 text-body-secondary">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
            <h5>Dla biznesu</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'add:organizers' %}" class="nav-link p-0 text-body-secondary">Organizatorzy</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:partnership' %}" class="nav-link p-0 text-body-secondary">Współpraca</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:advertising' %}" class="nav-link p-0 text-body-secondary">Reklama</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:business_solutions' %}" class="nav-link p-0 text-body-secondary">Rozwiązania dla firm</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:affiliate_program' %}" class="nav-link p-0 text-body-secondary">Program partnerski</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
            <h5>Poznaj</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'add:events' %}" class="nav-link p-0 text-body-secondary">Wydarzenia</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:categories' %}" class="nav-link p-0 text-body-secondary">Kategorie</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:promotions' %}" class="nav-link p-0 text-body-secondary">Promocje</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'add:blog' %}" class="nav-link p-0 text-body-secondary">Blog</a></li>
                </ul>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>Mateusz Czapnik &copy; 2024 Wszystkie prawa zastrzeżone</p>
        </div>
    </div>
</footer>