{% extends "main/base.html" %}

{% block title %}Promocje{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Promocje</h1>
    <p>Sprawdź aktualne promocje i skorzystaj z atrakcyjnych ofert na bilety!</p>

    <h2>Aktualne promocje</h2>
    <div class="row">
        {% for event in promoted_events %}
            <div class="col-md-3 mb-4">
                {% include 'events/partials/event_card.html' with event=event %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
